/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - kawsar bin siraj
 * @created_at  - 
 * @modified_by -
 */


/* fonts import */

/* fonts import -END */






/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

:root {
    --mainColor: #F6E3BA;
}

/* reset, root - END */



/* helper , base classes */

/* helper , base classes  - END*/

.select-option {
    .form-check-label {
      
        .outer-border {
            border: 2px solid red;
            border-radius: 8px;
        }

        .check-icon {
            position: absolute;
            right: -5px;
            top: -7px;
            z-index: 10;
        }

        input {
            &:checked~ {
                .check-icon {
                    display: block !important;
                }

                .outer-border {
                    display: block !important;
                }
            }
        }
    }
}
